---
layout: default
title: Home
---

<h3>Simplifying AI application development</h3>
<p>
  We specialize in developing tools that help developers unlock the
  transformative potential of AI.
</p>
<hr />
<h3>Products</h3>
<div class="products">
  <div>
    <h4><a href="https://www.keytrustee.org">Key Trustee</a></h4>
    Develop AI applications without worrying about keys or servers. Slash your
    AI expenses to zero while giving your users control over it's used in their
    applications. Click here to accelerate your application development with Key
    Trustee!
  </div>
  <div>
    <h4><a href="/jung/">Jung</a></h4>
    Unlock deep insights into personality from unstructured text using Jung.
    Want to know if a potential hire is right for your team or gain insights
    into a potential business partner? Jung can extract answers from their
    writing and social media posts.
  </div>
</div>

<hr />
<h3>Posts</h3>
<div class="posts">
  {% assign last_ten_posts = paginator.posts | slice: 0, 10 %} {% for post in
  last_ten_posts %}
  <div class="post">
    <h4>
      <a href="{{ post.url | absolute_url }}"> {{ post.title }} </a>
    </h4>
    {{ post.description }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a
    class="pagination-item older"
    href="{{ paginator.next_page_path | absolute_url }}"
    >Older</a
  >
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %} {% if paginator.previous_page %} {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
  {% else %}
  <a
    class="pagination-item newer"
    href="{{ paginator.previous_page_path | absolute_url }}"
    >Newer</a
  >
  {% endif %} {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
